# Created by .ignore support plugin (hsz.mobi)
.DS_Store
.idea/dataSources.local.xml
.idea/dataSources/
.idea/inspectionProfiles/
.idea/workspace.xml
shurritasScripts/.DS_Store
src/.DS_Store
src/main/.DS_Store
src/main/java/controllers/.DS_Store
src/main/java/forms/
src/main/resources/.DS_Store
src/main/resources/spring/.DS_Store
src/main/webapp/.DS_Store
src/main/webapp/WEB-INF/.DS_Store
target/
